{% extends 'base.html' %}

{% block content %}
  <div class="btn-group btn-group-justified" role="group" aria-label="...">

    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{ name }}
        <span class="caret"></span>
      </button>
      <ul class="dropdown-menu">
        {% for file in files %}
        <li><a href={{ url_for('show',folder=folder, name=file) }}>{{ file }}</a></li>
        <li role="separator" class="divider"></li>
        {% endfor %}
      </ul>
    </div>

    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default">
        <a href={{ url_for('edit', folder=folder, name=name) }}>Edit list</a>
      </button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default">
        <a href={{ url_for('add', folder=folder) }}>New list</a>
      </button>
    </div>
    <div class="btn-group" role="group">
      <button type="button" class="btn btn-default">
        <a href={{ url_for('remove', folder=folder, name=name) }}>Delete list</a>
      </button>
    </div>
  </div>
  {% if folder == 'tasks' %}
    {% for timeframe in content %}
    <pre>{{ timeframe }}</pre>
    {% endfor %}
  {% elif folder == 'notes' %}
    <pre>{{ content }}</pre>
  {% endif %}
{% endblock %}
